.workout-label-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  text-shadow: 1px 1px 1px rgb(70, 70, 70);
}

input {
  background-color: lightgreen;
  border: 2px solid rgb(48, 48, 48);
  border-radius: 10px;
  transition-duration: 0.3s;
  padding-left: 10px;
  box-shadow: 2px 2px 2px rgb(48, 48, 48);
}

input:focus {
  transition-duration: 0.3s;
  transform: scale(1.05);
  outline: none;
}